POSTGRES_ADMIN_USER=platform_admin
POSTGRES_ADMIN_PASSWORD=replace-me
POSTGRES_ADMIN_DB=postgres

PREFECT_DB_USER=prefect
PREFECT_DB_PASSWORD=replace-me
PREFECT_DB_NAME=prefect
PREFECT_EXTERNAL_URL=http://localhost:4200/api

MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=replace-me
MLFLOW_DB_NAME=mlflow
MLFLOW_ALLOWED_HOSTS=localhost:5000,127.0.0.1:5000,mlflow-server:5000
